/*Phần header và menu*/
.top-bar{
    text-align: center;
    font-size: 15px;
    padding: 10px;
    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        background-color: #c1c1c172;
        padding: 5px 20%;
        border-radius: 15px;
    }
    .right-top-bar{
        border-right: 3px solid #4d4d4d;
        padding-right: 5px;
    }
}
.khuyen-mai{
    background-image: linear-gradient(to right, rgb(0, 34, 82),rgb(2, 54, 139),rgb(3, 69, 174),rgb(5, 145, 226),rgb(116, 187, 250));
    text-align: center;
    color: white;
    font-size: 15px;    
    padding: 5px;
    a{
        color: white;
    }
}
.main-bar-container{
    padding: 20px;
}
.main-bar{
    background-color: #0a0e2b;
    text-align: center;
    font-size: 13px;
    color: white;
    font-weight: bold;
    a{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .menu-bar:hover{
        background-color: #c1c1c172;
    }
    .logo{
        width: 100px;
    }
}
/*CSS cho thanh tìm kiếm*/
.search-bar-container
{
    width: 100%;
    .search-box-input{
        border: none;
        width: 100%;
        padding: 10px;
        padding-left: 35px;
        border-radius: 20px;
        border: none;
        background-color: aliceblue;
        margin-bottom: 10px;
        outline: none;
        position: relative;
    }
  
    .search-box-btn{
        border-radius: 50px;
        border: none;
        font-size: large;
        background-color: aliceblue;
        margin: 5px;
    }
}
.search-bar-container .search-box-btn {
    position: absolute; /* Đảm bảo nút tìm kiếm được định vị tuyệt đối trong phần tử cha .search-bar-container */
}

/*section*/
section{
    margin: 50px 0px;
}

/*CSS cho các mục mặt hàng*/  
.container-section{
    border-bottom: 2px solid #333;
    font-weight: bold;
}
.card-style .card{
    margin: 10px 0;
    border: none;
    img{
        border-radius: 5px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    img:hover{
        padding: 5px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
}
.buy-link {
    border: none;
    padding: 5px;
    background-color: red;
    color: white;
    text-decoration: none;
}

.buy-link:hover {
    background-color: rgba(255, 0, 0, 0.345);
}