.gioi-thieu{
    text-align: center;
    a{
        color: rgb(0, 115, 255);
        text-decoration: none;   
    }
    a:hover{
        color: rgb(0, 68, 255);
        text-decoration: underline;
    }
}

.navigation-bar{
    font-size: 13px;
    text-align: center;
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: rgba(0, 255, 68, 0.5);
        text-decoration: underline;
    }
}